<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <%- include('partials/bootstrapCDN.ejs')%>
        <title>Inscription</title>
</head>

<body>
    <%- include('partials/navbar.ejs')%>
    <h1 class="text-center text-info mt-5">Inscription</h1>
    <form class="w-50 m-auto" action="/api/singup" method="post">
        <div class="mb-3">
            <label class="form-label">Username </label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="mb-3">
            <labe class="form-label"> Email</label>
                <input type="email" name="email" class="form-control">
        </div>
        <div class="mb-3">
            <labe class="form-label"> Password</label>
                <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Inscription</button>

    </form>
</body>
</html>